.button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid lightgray;
}
.button:hover,
.button:focus {
  background-color: lightblue;
}
